# Football Data

In [30]:
import pandas as pd

players = pd.read_csv('dataset/players.csv', encoding='latin1', delimiter=',')

valuations = pd.read_csv('dataset/player_valuations.csv', encoding='latin1', delimiter=',')

value_df = pd.merge(players, valuations, on='player_id')

value_df = value_df.drop_duplicates(subset=['player_id'])

value_df = value_df[['name', 'market_value_in_eur_x']]

value_df = value_df.rename(columns={'name': 'Player', 'market_value_in_eur_x': 'Value (in €)'})

value_df

                     Player  Value (in €)
0            Miroslav Klose     1000000.0
23       Roman Weidenfeller      750000.0
50         Dimitar Berbatov     1000000.0
78                   LÃºcio      200000.0
100              Tom Starke      100000.0
...                     ...           ...
465225       Bakary Haidara      350000.0
465227  Franciszek Franczak       75000.0
465228       Ozan DemirbaÄ       50000.0
465229   Sid Ahmed Aissaoui      150000.0
465230        Erdem ÃalÄ±k       50000.0

[29345 rows x 2 columns]

In [31]:
import pandas as pd

player_df = pd.read_csv('dataset/player_stats_22_23.csv', encoding='latin1', delimiter=';')

# Print the shape of the DataFrame
print(player_df.shape)

player_df.head()

(2689, 124)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4

In [32]:
df = pd.merge(player_df, value_df, on='Player')

df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Value (in €)
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2,14000000.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0,700000.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1,3000000.0
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0,18000000.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,2679,Nadir Zortea,ITA,DFMF,Atalanta,Serie A,23,1999,9,1,...,4.00,2.00,0.0,0.0,0.00,5.60,2.00,0.40,83.3,2000000.0
1926,2680,Nadir Zortea,ITA,DF,Sassuolo,Serie A,23,1999,1,1,...,4.00,2.00,0.0,0.0,0.00,7.00,1.00,2.00,33.3,2000000.0
1927,2681,Kurt Zouma,FRA,DF,West Ham,Premier League,28,1994,15,15,...,0.00,0.14,0.0,0.0,0.00,3.94,2.61,0.35,88.1,25000000.0
1928,2682,Petar Zovko,BIH,GK,Spezia,Serie A,20,2002,1,0,...,0.00,0.00,0.0,0.0,0.00,2.50,0.00,0.00,0.0,100000.0
1929,2683,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25,1997,16,14,...,0.21,0.86,0.0,0.0,0.00,4.93,2.00,1.57,56.0,22000000.0

In [33]:
# Delete double players and keep the player with the highest value
df = df.sort_values('Value (in €)', ascending=False).drop_duplicates('Player').sort_index()

# Delete players with less than 10 games
df = df[df['MP'] >= 10]

print(df.shape[0])

1118

In [34]:
percentage = 1 # Replace with your desired percentage
attributes = ['Goals', 'G/Sh'] # Replace with your desired attributes
max_value = 50000000 # Replace with your desired maximum value
max_age = 28 # Replace with your desired maximum age
position = 'FW' # Replace with your desired position

# Keep only players with correct condition
condition_value = (df['Value (in €)'] < max_value) if max_value is not None else True
condition_age = (df['Age'] < max_age) if max_age is not None else True
condition_position = (df['Pos'] == position) if position is not None else True

players_with_correct_condition = df[condition_value & condition_age & condition_position]

best_players = pd.DataFrame()

for attribute in attributes:
    # Select top percentage of players for each attribute
    top_percentage_players = players_with_correct_condition.nlargest(int(len(df) * percentage / 100), attribute)
    
    # Delete players that have 0 in the attribute
    top_percentage_players = top_percentage_players[top_percentage_players[attribute] > 0]

    # Add the selected players to the 'best_player' DataFrame
    best_players = pd.concat([best_players, top_percentage_players], ignore_index=True)

# Keep only the columns of interest
best_players = best_players[['Player', 'Age', 'Squad', 'Comp', 'Nation', 'Pos', 'Value (in €)'] + attributes]

# Keep only the players that are duplicated if there are more than one attribute
if len(attributes) > 1:
    best_players = best_players[best_players.duplicated(subset='Player', keep=False)]

# Drop duplicates
best_players = best_players.drop_duplicates(subset='Player')

# Sort the DataFrame by the attributes
best_players = best_players.sort_values(by=attributes, ascending=False)

# Display the resulting DataFrame
best_players

,Player,Age,Squad,Comp,Nation,Pos,Value (in €),Goals,G/Sh
2,Breel Embolo,25,Monaco,Ligue 1,SUI,FW,12000000.0,12,0.35
3,Habib Diallo,27,Strasbourg,Ligue 1,SEN,FW,14000000.0,10,0.24
6,Boulaye Dia,26,Salernitana,Serie A,SEN,FW,18000000.0,8,0.32
8,Thijs Dallinga,22,Toulouse,Ligue 1,NED,FW,15000000.0,7,0.26
7,Beto,25,Udinese,Serie A,GNB,FW,22000000.0,7,0.23